* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/full-bloom.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: inline-block;
    padding: 13px;
    background-color: #4AAAA5;
    margin: 0;
}


.textbox {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #dddddd;
    line-height: 1.5;
    color: #777777;
}

h2 {
    color: #4AAAA5;
    border-bottom: #dddddd solid 3px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 15px 15px 0px;
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    /* padding: 40px 0px 5px 40px; */
    border-top: #4AAAA5 5px solid;
    /* margin-top: 50px; */
    font-size: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 45px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; /* Set the fixed height of the footer here */
    line-height: 45px; /* Vertically center the text there */
    /* background-color: #f5f5f5; */
  }
  
  /* .container {
    width: auto;
    padding: 0 15px;
  }
   */